In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv(r"D:\ML LABS\lab 8,9,10\1_Orignal_AEP_hourly.csv" ,parse_dates=True)

In [3]:
df.head()

              Datetime   AEP_MW
0  2004-10-01 01:00:00  12379.0
1  2004-10-01 02:00:00  11935.0
2  2004-10-01 03:00:00  11692.0
3  2004-10-01 04:00:00  11597.0
4  2004-10-01 05:00:00  11681.0

In [4]:
df.tail()

                   Datetime   AEP_MW
121291  2018-08-02 20:00:00  17673.0
121292  2018-08-02 21:00:00  17303.0
121293  2018-08-02 22:00:00  17001.0
121294  2018-08-02 23:00:00  15964.0
121295  2018-08-03 00:00:00  14809.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121296 entries, 0 to 121295
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121296 non-null  object
 1   AEP_MW    121296 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.9+ MB

In [6]:
df.describe()

              AEP_MW
count  121296.000000
mean    15499.150961
std      2591.377126
min      9581.000000
25%     13629.000000
50%     15309.000000
75%     17200.000000
max     25695.000000

### Dataset info
Oct 2004 to Aug 2018

In [7]:
# 2004
(24*31*2)+24*30

2208

In [8]:
# 2018
(24*31*4)+(24*30*2)+24*28+24*2+1

5137

info:
    Jan, march, May, July, Aug, oct, dec ---->31
    April, june, sept, Nov ----> 30
    Feb -----> 28/ 29

In [9]:
total = ((24*31*2)+24*30) +  (24*31*7)*13+(24*30*4)*13+(24*28*1)*10+(24*29*1)*3  +  (24*31*4)+(24*30*2)+24*28+24*2+1
total

121297

In [10]:
print('Missing= ',  121297 - len(df))

Missing=  1

In [11]:
print('Data Points= ',  len(df))
print('Samples= ',      int(len(df)/24))

Data Points=  121296
Samples=  5054

In [12]:
# Drop Duplicates Except the First Occurrence
df.drop_duplicates(subset=['Datetime'], keep ='first',  inplace= True)
print('len = ',len(df))

len =  121296

In [13]:
df['Datetime']=pd.to_datetime(df['Datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121296 entries, 0 to 121295
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121296 non-null  datetime64[ns]
 1   AEP_MW    121296 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.9 MB

In [14]:
df

                  Datetime   AEP_MW
0      2004-10-01 01:00:00  12379.0
1      2004-10-01 02:00:00  11935.0
2      2004-10-01 03:00:00  11692.0
3      2004-10-01 04:00:00  11597.0
4      2004-10-01 05:00:00  11681.0
...                    ...      ...
121291 2018-08-02 20:00:00  17673.0
121292 2018-08-02 21:00:00  17303.0
121293 2018-08-02 22:00:00  17001.0
121294 2018-08-02 23:00:00  15964.0
121295 2018-08-03 00:00:00  14809.0

[121296 rows x 2 columns]

In [15]:
df.set_index('Datetime', inplace=True)
df.head()

                      AEP_MW
Datetime
2004-10-01 01:00:00  12379.0
2004-10-01 02:00:00  11935.0
2004-10-01 03:00:00  11692.0
2004-10-01 04:00:00  11597.0
2004-10-01 05:00:00  11681.0

In [16]:
df.iloc[22:25]

                      AEP_MW
Datetime
2004-10-01 23:00:00  14067.0
2004-10-02 00:00:00  13147.0
2004-10-02 01:00:00  12260.0

In [17]:
df=df.sort_index(ascending=True)
df.iloc[22:25]

                      AEP_MW
Datetime
2004-10-01 23:00:00  14067.0
2004-10-02 00:00:00  13147.0
2004-10-02 01:00:00  12260.0

In [18]:
print(df.head(1))
print(df.tail(1))

                      AEP_MW
Datetime
2004-10-01 01:00:00  12379.0
             AEP_MW
Datetime
2018-08-03  14809.0

In [19]:
missing_Timestamp=pd.date_range('2004-10-01','2018-08-03',freq='H').difference(df.index)
print('\nNumber of Missing Timestamp= ',len(missing_Timestamp),'\n')
print(missing_Timestamp.to_list())

Number of Missing Timestamp=  1

[Timestamp('2004-10-01 00:00:00')]

C:\Users\Admin\AppData\Local\Temp\ipykernel_16328\4204030582.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  missing_Timestamp=pd.date_range('2004-10-01','2018-08-03',freq='H').difference(df.index)

In [20]:
df

                      AEP_MW
Datetime
2004-10-01 01:00:00  12379.0
2004-10-01 02:00:00  11935.0
2004-10-01 03:00:00  11692.0
2004-10-01 04:00:00  11597.0
2004-10-01 05:00:00  11681.0
...                      ...
2018-08-02 20:00:00  17673.0
2018-08-02 21:00:00  17303.0
2018-08-02 22:00:00  17001.0
2018-08-02 23:00:00  15964.0
2018-08-03 00:00:00  14809.0

[121296 rows x 1 columns]

In [21]:
df = df.resample('H').first().fillna(np.NaN)
missing_Timestamp=pd.date_range('2004-10-01','2018-08-03',freq='H').difference(df.index)
print('\nNumber of Missing Timestamp= ',len(missing_Timestamp),'\n')
print(missing_Timestamp.to_list())

Number of Missing Timestamp=  1

[Timestamp('2004-10-01 00:00:00')]

C:\Users\Admin\AppData\Local\Temp\ipykernel_16328\3202759734.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df = df.resample('H').first().fillna(np.NaN)
C:\Users\Admin\AppData\Local\Temp\ipykernel_16328\3202759734.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  missing_Timestamp=pd.date_range('2004-10-01','2018-08-03',freq='H').difference(df.index)

In [22]:
df.tail(1)

             AEP_MW
Datetime
2018-08-03  14809.0

In [23]:
df.reset_index(inplace=True)
len_list=df[df['AEP_MW'].isnull()].index.tolist()
df.iloc[len_list]

Empty DataFrame
Columns: [Datetime, AEP_MW]
Index: []

In [24]:
print('values are missing at the following indexes:\n',len_list)

values are missing at the following indexes:
 []

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121296 entries, 0 to 121295
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121296 non-null  datetime64[ns]
 1   AEP_MW    121296 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.9 MB

In [26]:
df.head()

             Datetime   AEP_MW
0 2004-10-01 01:00:00  12379.0
1 2004-10-01 02:00:00  11935.0
2 2004-10-01 03:00:00  11692.0
3 2004-10-01 04:00:00  11597.0
4 2004-10-01 05:00:00  11681.0

In [27]:
df.isnull().sum()

Datetime    0
AEP_MW      0
dtype: int64

In [28]:
df['AEP_MW'] = df['AEP_MW'].interpolate()

In [29]:
df.isnull().sum()

Datetime    0
AEP_MW      0
dtype: int64

In [30]:
df.to_csv(r'C:\Users\arif\OneDrive - Higher Education Commission\Teaching\Courses\machine learning\Spring 25\Lab for students\2_Missing_Values_Filled.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'C:\Users\arif\OneDrive - Higher Education Commission\Teaching\Courses\machine learning\Spring 25\Lab for students'

In [ ]:
print('\tSummary of American Electric Power (AEP)')
print('\nStart Date: \n\t',df.head(1))
print('\nEnd Date: \n\t',  df.tail(1))
print('\nLengthBF: 121273')
print('\nLengthAF: ',len(df))
print('\nSamplesBF: 5053')
print('\nSamplesAF: ',(len(df)/24))
print('\nMissing Points: ',len(len_list))
print('\nMissing Points are at indices:\n ',len_list)

	Summary of American Electric Power (AEP)

Start Date:
	              Datetime   AEP_MW
0 2004-10-01 01:00:00  12379.0

End Date:
	          Datetime   AEP_MW
121295 2018-08-03  14809.0

LengthBF: 121273

LengthAF:  121296

SamplesBF: 5053

SamplesAF:  5054.0

Missing Points:  27

Missing Points are at indices:
  [721, 4418, 9457, 13154, 18193, 21386, 27097, 30122, 35833, 38858, 44569, 47762, 53473, 54263, 56498, 62209, 65234, 70945, 71715, 73970, 79681, 82706, 82765, 91442, 100346, 109082, 117818]

In [ ]:
df.iloc[721]

Datetime    2004-10-31 02:00:00
AEP_MW                  10875.5
Name: 721, dtype: object

In [ ]:
df.isnull().sum()

Datetime    0
AEP_MW      0
dtype: int64

In [ ]:
df=pd.read_csv('2_Missing_Values_Filled.csv')
df.describe()

              AEP_MW
count  121296.000000
mean    15499.150961
std      2591.377126
min      9581.000000
25%     13629.000000
50%     15309.000000
75%     17200.000000
max     25695.000000

In [31]:
15499+2591*2.8

22753.8